.app-panel{
  margin: 10px;
  padding: 0 10px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;
  .app-panel-header{
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #dddddd;
  }
  .app-panel-body{
    min-height: 60px;
    margin: 20px 0;
  }
  .app-panel-footer{
    font-size: 12px;
  }
}