.image-upload {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  overflow: hidden;
  .preview {
    width: 100%;
  }
  input[type=file] {

  }
}